N8N_IMAGE=n8nio/n8n@sha256:cae1f28d585a99d9ce9a56f82fbfc99fc100862ffef988d73fa2048d2687b0cc
N8N_PORT=5678
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=change-this-password
WEBHOOK_URL=http://TAILSCALE_IP_HERE:5678
GENERIC_TIMEZONE=Asia/Tokyo
TZ=Asia/Tokyo